{{#t}}
<div class="{{elementClass}}" id="{{idPrefix}}{{id}}_container\">";
    <label for="{{idPrefix}}{{id}}">{{title}}:</label>
    <div class="input">
        <div class="input-append">
            <input type="text" name="{{name}}" id="{{idPrefix}}{{id}}" value="{{value}}" {{#readonly}}readonly="readonly"{{/readonly}} {{#disabled}}disabled="disabled"{{/disabled}} />
        </div>
    </div>
</div>
{{/t}}
