{{#t}}
<div class="{{elementClass}}" id="{{idPrefix}}{{id}}_container">
    {{#title}}<label for="{{idPrefix}}{{id}}">{{.}}:</label>{{/title}}
    <div class="input">
        <input type="file" name="{{name}}" id="{{idPrefix}}{{id}}" 
        {{#readonly}}readonly="readonly"{{/readonly}} 
        {{#disabled}}disabled="disabled"{{/disabled}} 
        class="input-file {{#required}}required {{/required}}"/>
    </div>
</div>
{{/t}}
