{{#t}}
<input type="hidden" name="{{name}}" id="{{idPrefix}}{{id}}" value="{{value}}" {{#max}}maxlength="{{.}}"{{/max}} {{#readonly}}readonly="readonly"{{/readonly}} {{#disabled}}disabled="disabled"{{/disabled}} />
{{/t}}
