{{#t}}
<div class="{{elementClass}}" id="{{idPrefix}}{{id}}_container\">";
    {{#title}}<label>{{.}}:</label>{{/title}}
    <div class="input">
        <ul class="inputs-list">
            {{#items}}
                <li>
                    <label>
                        <input type="radio" name="{{name}}" value="{{value}}" {{#checked}}checked="checked"{{/checked}} {{#readonly}}readonly="readonly"{{/readonly}} {{#disabled}}disabled="disabled"{{/disabled}} id="{{idPrefix}}{{id}}" />
                        <span>{{label}}</span>
                    </label>
                </li>
            {{/items}}
        </ul>
    </div>
</div>
{{/t}}
