{{#t}}
<div class="{{elementClass}}" id="{{idPrefix}}{{id}}_container">
    {{#title}}<label for="{{idPrefix}}{{id}}">{{.}}:</label>{{/title}}
    <div class="input">
        <textarea name="{{name}}" id="{{idPrefix}}{{id}}" rows="5" cols="80" {{#readonly}}readonly="readonly"{{/readonly}} {{#disabled}}disabled="disabled"{{/disabled}}>{{value}}</textarea>
    </div>
</div>
{{/t}}
