{{#t}}
<script language="javascript">
    jQuery.validator.addClassRules("rules-{{idPrefix}}{{id}}", {
    {{#required}}
        required: true,
    {{/required}}
    {{#min}}
        minlength: {{.}},
    {{/min}}
    {{#max}}
        maxlength: {{.}},
    {{/max}}
    });
</script>
<div class="{{elementClass}}" id="{{idPrefix}}{{id}}_container">
    {{#title}}<label for="{{idPrefix}}{{id}}">{{.}}:</label>{{/title}}
    <div class="input">
        <textarea name="{{name}}" id="{{idPrefix}}{{id}}" rows="5" cols="80" {{#readonly}}readonly="readonly"{{/readonly}} {{#disabled}}disabled="disabled"{{/disabled}} class="rules-{{idPrefix}}{{id}}" >{{value}}</textarea>
    </div>
</div>
{{/t}}
